#### Author = Kushal Reddy

We are creating a key space and loading a csv file which contain the information about the files loaded in to the database. Here i am tring to briefly describe the model which would store the information such as user_id , User name and the file type and also the status whether the file is attached to the server or not.

Importing the required packages

In [14]:
import pandas as pd
from cassandra.cluster import Cluster

In [15]:
clstr = Cluster()
session = clstr.connect()

Droping the key spaces if there are any with the name k10

In [16]:
session.execute("DROP KEYSPACE IF EXISTS k10")

displaying the keyspaces

In [17]:
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema
w04python

### creating the keyspace k10 with a replication fator of 3

In [18]:
session.execute("""
    CREATE KEYSPACE IF NOT EXISTS k10 WITH REPLICATION = {
        'class':'SimpleStrategy', 
        'replication_factor':3
    }
""")

In [19]:
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

k10
system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema
w04python

#### Creating a table in cassadra with the sutable column names

In [20]:
session.execute("""
CREATE TABLE IF NOT EXISTS k10.student ( 
    user_id INT,
    user_name TEXT, 
    date INT,
    file_type TEXT, 
    file_attachment TEXT,           
    PRIMARY KEY(user_id)
);
""")

In [21]:
df = pd.read_csv('data.csv')
df

    user_id user_name       date file_type file_attachment
0      1000    'Judy'   03052019     'IMG'      'attached'
1      1001  'Edward'   09042021     'IMG'   'notattached'
2      1002    'Judy'   08072002   'Video'   'notattached'
3      1003  'Edward'   12092021   'Video'      'attached'
4      1004    'Judy'   12112020   'Video'   'notattached'
5      1005  'Edward'   12122017   'Video'   'notattached'
6      1006    'Judy'   12202014     'IMG'      'attached'
7      1007   'Steve'   12202017     'IMG'   'notattached'
8      1008  'Edward'   12202019     'IMG'   'notattached'
9      1009  'Edward'   11202012     'IMG'      'attached'
10     1010   'Steve'   12202009   'Video'      'attached'
11     1011  'Edward'   11202008   'Video'      'attached'
12     1012  'Edward'   10212007      txt'      'attached'
13     1013   'Steve'   01272005     'IMG'      'attached'
14     1014  'Edward'   02242004   'Video'   'notattached'
15     1015   'Steve'   03292005     'txt'      'attached'
16     1016    'Judy'   04302008     'IMG'      'attached'
17     1017  'Edward'   05252001   'Video'      'attached'
18     1018  'Edward'  06122005'   'Video'   'notattached'
19     1019    'Judy'   07142004     'IMG'      'attached'
20     1020    'Judy'   08182024     'IMG'      'attached'

#### Reading the csv created

In [22]:
for index, row in df.iterrows():
    print(f"user_id = {row.user_id}, user_name ={row.user_name}, date = {row.date}, file_type = {row.file_type}, file_attachment = {row.file_attachment}")

user_id = 1000, user_name ='Judy', date = 03052019, file_type = 'IMG', file_attachment = 'attached'
user_id = 1001, user_name ='Edward', date = 09042021, file_type = 'IMG', file_attachment = 'notattached'
user_id = 1002, user_name ='Judy', date = 08072002, file_type = 'Video', file_attachment = 'notattached'
user_id = 1003, user_name ='Edward', date = 12092021, file_type = 'Video', file_attachment = 'attached'
user_id = 1004, user_name ='Judy', date = 12112020, file_type = 'Video', file_attachment = 'notattached'
user_id = 1005, user_name ='Edward', date = 12122017, file_type = 'Video', file_attachment = 'notattached'
user_id = 1006, user_name ='Judy', date = 12202014, file_type = 'IMG', file_attachment = 'attached'
user_id = 1007, user_name ='Steve', date = 12202017, file_type = 'IMG', file_attachment = 'notattached'
user_id = 1008, user_name ='Edward', date = 12202019, file_type = 'IMG', file_attachment = 'notattached'
user_id = 1009, user_name ='Edward', date = 11202012, file_type = 'IMG', file_attachment = 'attached'
user_id = 1010, user_name ='Steve', date = 12202009, file_type = 'Video', file_attachment = 'attached'
user_id = 1011, user_name ='Edward', date = 11202008, file_type = 'Video', file_attachment = 'attached'
user_id = 1012, user_name ='Edward', date = 10212007, file_type = txt', file_attachment = 'attached'
user_id = 1013, user_name ='Steve', date = 01272005, file_type = 'IMG', file_attachment = 'attached'
user_id = 1014, user_name ='Edward', date = 02242004, file_type = 'Video', file_attachment = 'notattached'
user_id = 1015, user_name ='Steve', date = 03292005, file_type = 'txt', file_attachment = 'attached'
user_id = 1016, user_name ='Judy', date = 04302008, file_type = 'IMG', file_attachment = 'attached'
user_id = 1017, user_name ='Edward', date = 05252001, file_type = 'Video', file_attachment = 'attached'
user_id = 1018, user_name ='Edward', date = 06122005', file_type = 'Video', file_attachment = 'notattached'
user_id = 1019, user_name ='Judy', date = 07142004, file_type = 'IMG', file_attachment = 'attached'
user_id = 1020, user_name ='Judy', date = 08182024, file_type = 'IMG', file_attachment = 'attached'

### Loading the data in the csv to the table

In [23]:
for index, row in df.iterrows():
    print(f"""
        INSERT INTO k10.student (user_id, user_name, date, file_type,file_attachment)     
        VALUES ({row.user_id}, {row.user_name}, {row.date}, {row.file_type}, {row.file_attachment});
        """
    )
session.execute(f"""
        INSERT INTO k10.student (user_id, user_name, date, file_type, file_attachment)     
        VALUES ({row.user_id}, {row.user_name}, {row.date}, {row.file_type}, {row.file_attachment});
        """
    )

        INSERT INTO k10.student (user_id, user_name, date, file_type,file_attachment)
        VALUES (1000, 'Judy', 03052019, 'IMG', 'attached');


        INSERT INTO k10.student (user_id, user_name, date, file_type,file_attachment)
        VALUES (1001, 'Edward', 09042021, 'IMG', 'notattached');


        INSERT INTO k10.student (user_id, user_name, date, file_type,file_attachment)
        VALUES (1002, 'Judy', 08072002, 'Video', 'notattached');


        INSERT INTO k10.student (user_id, user_name, date, file_type,file_attachment)
        VALUES (1003, 'Edward', 12092021, 'Video', 'attached');


        INSERT INTO k10.student (user_id, user_name, date, file_type,file_attachment)
        VALUES (1004, 'Judy', 12112020, 'Video', 'notattached');


        INSERT INTO k10.student (user_id, user_name, date, file_type,file_attachment)
        VALUES (1005, 'Edward', 12122017, 'Video', 'notattached');


        INSERT INTO k10.student (user_id, user_name, date, file_type,file_attachment)
        VALUES (1006, 'Judy', 12202014, 'IMG', 'attached');


        INSERT INTO k10.student (user_id, user_name, date, file_type,file_attachment)
        VALUES (1007, 'Steve', 12202017, 'IMG', 'notattached');


        INSERT INTO k10.student (user_id, user_name, date, file_type,file_attachment)
        VALUES (1008, 'Edward', 12202019, 'IMG', 'notattached');


        INSERT INTO k10.student (user_id, user_name, date, file_type,file_attachment)
        VALUES (1009, 'Edward', 11202012, 'IMG', 'attached');


        INSERT INTO k10.student (user_id, user_name, date, file_type,file_attachment)
        VALUES (1010, 'Steve', 12202009, 'Video', 'attached');


        INSERT INTO k10.student (user_id, user_name, date, file_type,file_attachment)
        VALUES (1011, 'Edward', 11202008, 'Video', 'attached');


        INSERT INTO k10.student (user_id, user_name, date, file_type,file_attachment)
        VALUES (1012, 'Edward', 10212007, txt', 'attached');


        INSERT INTO k10.student (user_id, user_name, date, file_type,file_attachment)
        VALUES (1013, 'Steve', 01272005, 'IMG', 'attached');


        INSERT INTO k10.student (user_id, user_name, date, file_type,file_attachment)
        VALUES (1014, 'Edward', 02242004, 'Video', 'notattached');


        INSERT INTO k10.student (user_id, user_name, date, file_type,file_attachment)
        VALUES (1015, 'Steve', 03292005, 'txt', 'attached');


        INSERT INTO k10.student (user_id, user_name, date, file_type,file_attachment)
        VALUES (1016, 'Judy', 04302008, 'IMG', 'attached');


        INSERT INTO k10.student (user_id, user_name, date, file_type,file_attachment)
        VALUES (1017, 'Edward', 05252001, 'Video', 'attached');


        INSERT INTO k10.student (user_id, user_name, date, file_type,file_attachment)
        VALUES (1018, 'Edward', 06122005', 'Video', 'notattached');


        INSERT INTO k10.student (user_id, user_name, date, file_type,file_attachment)
        VALUES (1019, 'Judy', 07142004, 'IMG', 'attached');


        INSERT INTO k10.student (user_id, user_name, date, file_type,file_attachment)
        VALUES (1020, 'Judy', 08182024, 'IMG', 'attached');

#### displaying a column in the table

In [24]:
rows = session.execute("select (user_id, user_name, date, file_type, file_attachment)from k10.student")
for row in rows:
    print(f"user_id={row[0][0]}, user_name={row[0][1]}, date={row[0][2]}, file_type={row[0][3]}, file_attachment={row[0][4]}")

user_id=1020, user_name=Judy, date=8182024, file_type=IMG, file_attachment=attached

#### Updating the status of a file as attached for the user_id '1003"

In [25]:
session.execute("UPDATE k10.student SET file_attachment= 'attached' where user_id=1003")

#### Dropping a row

In [26]:
session.execute("""DELETE FROM k10.student where user_id=1004""");

##### In this note book i have demostrated the the creating search and insert and delete operations . Here i have created a table with the basic structure of storing the text data releated to files.